/*titulo_animado***********************/

.titulo_animado{
    height: 180px;
    // padding: 1rem;
    display: flex;
    flex-flow: row nowrap;
    color: white;
    background-color: rgb(0, 0, 0);
    align-items: center;
    position: relative;
    overflow: hidden;

    @include media-breakpoint-up(sm) {
        height: 300px;
        

    }
    @include media-breakpoint-up(md) {
        height: 400px;
        
    }

    .container{
        

    
        h1{
            font-size: 1.8rem;

            @include media-breakpoint-up(sm) {
                font-size: 2.7rem;
                
            }
            @include media-breakpoint-up(md) {
                font-size: 3.4rem;
            }
            @include media-breakpoint-up(lg) {
                font-size: 4rem;  
                    
                                    
            }
                
                
        

            :nth-child(2){
                font-size: 3.3rem;
                color: #e17a7a;

                @include media-breakpoint-up(sm) {
                font-size: 4.7rem;
                
                }
                @include media-breakpoint-up(md) {
                font-size: 5.4rem;  
                }
                
                @include media-breakpoint-up(lg) {
                    font-size: 6.4rem;  
                        
                                        
                }
            }

            :nth-child(n+3){
                font-size: 1.1rem;

                @include media-breakpoint-up(sm) {
                font-size: 2.1rem;
                
                }
                @include media-breakpoint-up(md) {
                font-size: 2.6rem;  
                    
                }
                @include media-breakpoint-up(lg) {
                    font-size: 3rem;  
                        
                }
            }

            div{
                margin: 2px 0px;

                :nth-child(1){
                    color:#e17a7a;
                    
                }

            }

        }   

        h2{
            display: none;
            
            div{

            }

        }
        
        a{
            display: none;
        }
    
    }

        
        #img1{
        

            
            width: 50%;
            position: absolute;
            bottom: 0%;
            right: -7%;;

                @include media-breakpoint-up(sm) {
                    width: 60%;
                    right:-6%;
                    bottom: -15%;

                }
                @include media-breakpoint-up(md) {
                    width: 50%;
                    right:-7%;
                    bottom: -15%;
                    
                }
                @include media-breakpoint-up(lg) {
                    max-width: 43%;
                    right:-4%;
                    bottom: -30%;
                    
                }
            }

         #img2{
            width: 100%;
            display: none;
            }
             
    }

    
    .ocultar{
        display: none;
    }
    .visible{
        display: block;
    }   

      



// .titulo_animado{
//     height: 350px;
//     padding: 5rem;
//     display: flex;
//     flex-flow: row nowrap;
//     color: white;
//     background-color: black;

//     .texto_1, .imagen_1, .texto_2, .imagen_2 {
//         opacity: 0;
//         transition: opacity 0.5s ease-in-out;
//       }

//     .texto{
//         width: 50%;
//         display: flex;
//         justify-content: center;
//         align-items: center;
        

//         .texto_1{


//         }

//         .texto_2{
           

           
           
//         }
//     }

//     .imagen{
//         width: 50%;
//         overflow: hidden;
//         display: flex;
//         justify-content: center;
//         align-items: center;
        

//         .imagen_1{

//             position: relative;
//             top: 60px;
//             img{
//                 width: 100%;
//             }

//         }
//         .imagen_2{

//             img{
//                 width: 100%;
//             }
            
            
//         }
//     }


// }


 // .texto{
        //         width: 50%;
        //         display: flex;
        //         flex-direction: column;
        //         justify-content: center;

        //         span{
        //             color:rgb(232, 90, 90);
        //         }

        //         .texto_1{

        //             #frase1{

        //             }
        //             #frase2{
        //                 color:rgb(232, 90, 90) ;
                        
        //             }
        //             #frase3{
                        
        //             }
        //             #frase4{
                        
        //             }
        //             #frase5{
                        
        //             }

        //         }
        //         .texto_2{
        //             display: none;
        //         }
              
        //     }





/*PROGRAMA REFERIDOS***********************************/
.programa_referidos{

     
    h2{
        text-align: center;
        padding: 4rem 0rem;
    }

    .tarjetas{
        display: grid;
        grid-template-columns: 1fr;
        justify-content: center;
        align-items: center;

        @include media-breakpoint-up(sm) {
            grid-template-columns: 1fr 1fr 1fr;
            column-gap: 5rem;
            align-items: baseline;
        }

        
        .tarjetas_info{
            text-align: center;

            h3{
                color: black;
                font-size: 2rem;
                font-weight: bold;
                margin: 2rem 0rem;
            }

            p{

                a{
                    text-decoration: none;
                    color: #e17a7a;
                }

                span{
                    background-color: #e17a7a;
                }
            }



            img{
                width: 60%;
                border-radius: 50%;
            }
        }
    }

}

/*FAQ Accordion*************************************/

.faq{
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    column-gap: 10rem;
    row-gap: 3rem;

    .faq_accordion{
        width: 90%;

        @include media-breakpoint-up(lg) {
            width: 70%;  
        }

        @include media-breakpoint-up(xl) {
            width: 40%;  
        }

        .accordion-button {

            font-size: 1.4rem;
            font-weight: 400;
            background-color: rgb(248, 248, 248);

            @include media-breakpoint-up(sm) {
                font-size: 1.6rem;  
            }
        }

        .accordion-body{
            font-size: 1.2rem;
            background-color: rgb(251, 251, 251);

            @include media-breakpoint-up(sm) {
                font-size: 1.3rem;  
            }
        }

       
    }


    .faq_imagen{
       

        img{
           width: 90%;

           @include media-breakpoint-up(xl) {
            width: 100%;  
        }

            
            
        }
    }

}


/*CONTACT FORM
****************************************/
.formulario {
    text-align: center;
    background-color:#7d8bab;
    background-image: url(../../images/FondoFormulario.png);
    background-position: center top;
    background-repeat: no-repeat;
    color: white;

    .tituloFormulario{
        margin: 3rem 0 4rem;
        
        p{
            font-size: 1.6rem;
            @include media-breakpoint-up(md) {
                font-size: 2.1rem;  
            }
        }
        
    }

    h3{
        margin: 2.5rem 0rem;
        font-weight: bold;
    }

    form{
        
        .datos{
            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: center;
            width: 100%;

            .form-group {
                width: 85%;
                margin-bottom: 2.5rem;

                @include media-breakpoint-up(md) {
                    width: 55%;  
                }
        
                .form-control{
                    border-radius: 25px;
                    padding: 0.85rem 1rem;
                    font-size: 1.6rem;
                    text-align: center;
                    
                }
        
                textarea {
                    height: 178px;
                           }
            
            }

        }



        

    }

    .error-msg {
        color: #f00000;
        font-size: 14px;
        padding-top: 5px;
        display: none;
        &.visible {
            display: block;
        }
    }


}

/*THANK YOU
************************************************/
.thank-you{
    padding: 15rem 0;
    text-align: center;

    & > .container {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;

        .btn {
            margin-top: 2rem;
        }
    }

    h1 {
        color: $color-blue-main;
    }


}


