/*titulo_animado***********************/


.hero{
    padding-top: 83px;
    padding-bottom:2rem;

    @include media-breakpoint-up(lg) {
        padding-top: 0;
        padding-bottom:2rem;
        
    }



    .titulo_animado{
        height: 300px;
        // padding: 1rem;
        display: flex;
        flex-flow: row nowrap;
        color: white;
        background-color: $color-blue-dark;
        align-items: center;
        position: relative;
        overflow: hidden;

        @include media-breakpoint-up(sm) {
            height: 300px;
            

        }
        @include media-breakpoint-up(md) {
            height: 400px;
            
        }
        @include media-breakpoint-up(lg) {
            height: 600px;
            
        }

            .container{
                z-index: 2;

                @include media-breakpoint-down(sm) {
                    display: flex;
                    flex-flow: column;
                    
                                    
                }
                

            
                h1{
                    font-size: 2.3rem;
                    
                    
                    @include media-breakpoint-down(sm) {
                        text-align: left;
                        position: absolute;
                        top: 7%;
                        right: 23%;
                                        
                    }

                    @include media-breakpoint-up(sm) {
                        font-size: 2.7rem;
                        
                    }
                    @include media-breakpoint-up(md) {
                        font-size: 3.4rem;
                    }
                    @include media-breakpoint-up(lg) {
                        font-size: 3.8rem;  
                            
                                            
                    }
                        
                        
                

                    :nth-child(2){
                        font-size: 3.3rem;
                        color:  $color-sales-2;

                        @include media-breakpoint-up(sm) {
                        font-size: 4.7rem;
                        
                        }
                        @include media-breakpoint-up(md) {
                        font-size: 5.4rem;  
                        }
                        
                        @include media-breakpoint-up(lg) {
                            font-size: 8.5rem;  
                                
                                                
                        }
                    }

                    :nth-child(n+3){
                        font-size: 1.3rem;

                        @include media-breakpoint-up(sm) {
                        font-size: 2.1rem;
                        
                        }
                        @include media-breakpoint-up(md) {
                        font-size: 2.6rem;  
                            
                        }
                        @include media-breakpoint-up(lg) {
                            font-size: 3rem;  
                                
                        }
                    }

                    div{
                        margin: 2px 0px;
                        opacity: 0;

                        :nth-child(1){
                            color: $color-sales-2;
                            
                        }

                    }
                
                
                    div:first-child {
                        
                        animation: fadeInOut 10s 0.4s forwards  infinite;
                    }
                    div:nth-child(2) {
                        animation: fadeInOut 10s 0.5s forwards  infinite;

                    }
                    div:nth-child(3) {
                        animation: fadeInOut 10s 0.6s  forwards infinite;

                    }
                    div:nth-child(4) {
                        animation: fadeInOut 10s 0.7s forwards  infinite;

                    }
                    div:nth-child(5) {
                        animation: fadeInOut 10s 0.8s forwards  infinite;

                    }

                }   

                h2{
                    font-size: 3.3rem;
                    position: absolute;
                    top: 35%;

                    @include media-breakpoint-down(sm){
                        
                        top: 10%;
                        right: 34%;
                    }
                    
                    @include media-breakpoint-up(sm) {
                        font-size: 2.7rem;
                        
                    }
                    @include media-breakpoint-up(md) {
                        font-size: 3.4rem;
                    }
                    @include media-breakpoint-up(lg) {
                        font-size: 8.5rem;  
                        
                    }
                    
                    :nth-child(n+2){
                        font-size: 1.3rem;
                        
                        @include media-breakpoint-up(sm) {
                            font-size: 2.1rem;
                            
                        }
                        @include media-breakpoint-up(md) {
                            font-size: 2.6rem;  
                            
                        }
                        @include media-breakpoint-up(lg) {
                            font-size: 3rem;  
                            
                        }
                    }
                    
                    div{
                        margin: 2px 0px;
                        opacity: 0;
                        
                        :nth-child(1){
                            color: $color-sales-2;
                            
                        }

                    }

                    div:first-child {
                        
                        animation: fadeInOut2 10s 5.7s  forwards infinite;
                    }
                    div:nth-child(2) {
                        animation: fadeInOut2 10s 5.8s forwards  infinite;

                    }
                    div:nth-child(3) {
                        animation: fadeInOut2 10s 5.9s forwards  infinite;
                    }
                

                }
                
                a{
                    display: none;

                    // @include media-breakpoint-up(xl){
                    // display: block;
                    // position: absolute;
                    // bottom: 20px;
                    // left: 25%;
                    // font-size: 2.5rem;
                    // }
                }
            
            }



        #img1{
        opacity: 0;
        width: 65%;
        position: absolute;
        // bottom: -30%;  anterior a tocar mobile
        // right: -7%;   idem
    
        bottom: -26%;
        right: 12%;
    
        animation: fadeInUp 10s 1s forwards  infinite;
    
            
    
            @include media-breakpoint-up(sm) {
                width: 60%;
                right:-6%;
                bottom: -27%;
    
            }
            @include media-breakpoint-up(md) {
                width: 56%;
                right: -9%;
                bottom: -19%;
                
            }
            @include media-breakpoint-up(lg) {
                width: 65%;
                right:-12%;
                bottom: -20%;
                
            }
            @include media-breakpoint-up(xl) {
                width: 65%;
                right:-12%;
                bottom: -29%;
                
            }
            @include media-breakpoint-up(xxl) {
                width: 65%;
                right:-12%;
                bottom: -39%;
                
            }
        }
    
        #img2{
           
        right: 35%;
        bottom: -30%;
        opacity: 0;
        position: absolute;
        width: 38%;
        animation: fadeInLeftMobile 10s 6.3s forwards  infinite;
        // right: -30%;
    
            @include media-breakpoint-up(sm) {
                animation: fadeInLeft 10s 6.3s forwards  infinite;
                
                width: 60%;
                right:-20%;
                bottom: -13%;
                    
            }
            @include media-breakpoint-up(md) {
                width: 55%;
                right:-15%;
                bottom:-8%
                
            }
            @include media-breakpoint-up(lg) {
                width: 60%;
                right:-18%;
                bottom:-11%
              
            }
            @include media-breakpoint-up(xl) {
                width: 60%;
                right:-18%;
                bottom:-20%
                
                
            }
            @include media-breakpoint-up(xxl) {
                width: 58%;
                right:-18%;
                bottom:-34%
                
                
            }
    
        }

       
        .circle {
            width: 100px;
            height: 100px;
            border-radius: 50%;
            background: lightblue;
            position: absolute;
            bottom: -57px;
            left: 9px;

            @include media-breakpoint-up(sm) {
                width: 150px;
                height: 150px;
                
            }
            @include media-breakpoint-up(lg) {
                width: 180px;
                height: 180px;
           
            }
            @include media-breakpoint-up(xl) {
                width: 220px;
                height: 220px;
               
           }
        }
           
           .oval1 {
            width: 220px;
            height: 110px;
            border-radius: 60px 44px 44px 60px;
            background: $color-gray-light;
            position: absolute;
            top: -78px;
            left: -3px;
            transform: rotate(-52deg);

            @include media-breakpoint-up(sm) {
                width: 230px;
                height: 120px;
                top: -100px;
                left: -15px;
                
            }
            @include media-breakpoint-up(lg) {
                width: 350px;
                height: 180px;
                top: -156px;
                left: -9px;
           
            }
            @include media-breakpoint-up(xl) {
                width: 430px;
                height: 220px;
               
           }

           }
           
           .oval2 {
            width: 134px;
            height: 76px;
            border-radius: 44px 44px 44px 44px;
            background: $color-sales;
            position: absolute;
            top: 103px;
            left: -76px;
            transform: rotate(127deg);

            @include media-breakpoint-up(sm) {
                width: 180px;
                height: 100px;
                top: 105px;
                left: -110px;
                
            }
            @include media-breakpoint-up(lg) {
                width: 220px;
                height: 120px;
                top: 204px;
                left: -151px;
           
            }
            @include media-breakpoint-up(xl) {
                width: 250px;
                height: 160px;
               
           }

           }



        
    }


        
            
}

    
       
    @keyframes fadeInOut {
        0% {
            opacity: 0;
            }
        5% {
            opacity: 1;
            }
        50% {
            opacity: 1;
            }
        51% {
            opacity: 0;

            }
        100%{
            opacity: 0;
        }    
    }    

    @keyframes fadeInOut2 {
        0% {
            opacity: 0;
            }
        5% {
            opacity: 1;
            }
        45% {
            opacity: 1;
            }
        47% {
            opacity: 0;
            }
        100%{
            opacity: 0;
        }    
       }    

       @keyframes fadeInUp {
            0% {
                opacity: 0;
                }
            4% {
                opacity: 1;
                transform: translateY(-50px);
                }
            45%{ opacity: 1;
                transform: translateY(-50px);

                }
            47% {
                opacity: 0;
                }
           
            100%{
                
                
            }
        }   
      
       @keyframes fadeInLeft {
        0% {
            opacity: 0;
              }
        5% {
            
            opacity: 1;
            transform: translateX(-70px);
        }
        40%{
            opacity: 1;
        }
        42%{
            opacity: 0;
        }
        
                  
        100%{
           
            transform: translateX(-70px);
           
        }    
    }    

    @keyframes fadeInLeftMobile {
        0% {
            opacity: 0;
              }
        5% {
            
            opacity: 1;
            transform: translateY(-70px);
        }
        40%{
            opacity: 1;
        }
        42%{
            opacity: 0;
        }
        
                  
        100%{
           
            transform: translateY(-70px);
           
        }    
    }    

    

/*PROGRAMA REFERIDOS***********************************/
.programa_referidos{

     
    h2{
        text-align: center;
        padding: 3rem 0rem;
    }

    .tarjetas{
        display: grid;
        grid-template-columns: 1fr;
        justify-content: center;
        align-items: center;

        @include media-breakpoint-up(sm) {
            grid-template-columns: 1fr 1fr 1fr;
            column-gap: 5rem;
            align-items: baseline;
        }

        
        .tarjetas_info{
            text-align: center;

            h3{
                color: black;
                font-size: 2rem;
                font-weight: bold;
                margin: 2rem 0rem;
            }

            p{

                a{
                    text-decoration: none;
                    color:$color-sales-2;
                }

                span{
                    background-color: $color-sales-2;
                }
            }



            img{
                width: 60%;
                border-radius: 50%;
            }
        }
    }

}

/*FAQ Accordion*************************************/

.faq{
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    column-gap: 10rem;
    row-gap: 3rem;

    .faq_accordion{
        width: 90%;

        @include media-breakpoint-up(lg) {
            width: 70%;  
        }

        @include media-breakpoint-up(xl) {
            width: 40%;  
        }

        .accordion-button {

            font-size: 1.4rem;
            font-weight: 400;
            background-color: rgb(248, 248, 248);

            @include media-breakpoint-up(sm) {
                font-size: 1.6rem;  
            }
        }

        .accordion-body{
            font-size: 1.2rem;
            background-color: rgb(251, 251, 251);

            @include media-breakpoint-up(sm) {
                font-size: 1.3rem;  
            }
        }

       
    }


    .faq_imagen{
        text-align: center;
       
        img{
           width: 90%;

           @include media-breakpoint-up(xl) {
            width: 100%;  
        }

            
            
        }
    }

}


/*CONTACT FORM
****************************************/
.formulario {
    text-align: center;
    background-color:$color-gray-light;
    background-image: url(../../images/form_section_bg.png);
    background-repeat: no-repeat;
    background-position: 10%;
    background-size: cover;
    color: black;

    .tituloFormulario{
        margin: 3rem 0 4rem;
        
        p{
            font-size: 1.6rem;
            @include media-breakpoint-up(md) {
                font-size: 2.1rem;  
            }
        }
        
    }

    h3{
        margin: 2.5rem 0rem;
        font-weight: bold;
    }

    form{
        
        .datos{
            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: center;
            width: 100%;

            .form-group {
                width: 85%;
                margin-bottom: 2.5rem;

                @include media-breakpoint-up(md) {
                    width: 55%;  
                }
        
                .form-control{
                    // border-radius: 25px;
                    padding: 0.85rem 1rem;
                    font-size: 1.6rem;
                    text-align: left;
                    
                }
        
                textarea {
                    height: 178px;
                           }
            
            }

        }



        

    }

    .error-msg {
        color: #f00000;
        font-size: 14px;
        padding-top: 5px;
        display: none;
        &.visible {
            display: block;
        }
    }


    .modal {
        &-dialog {
            max-width: 80%;
        }

        &-header {
            h2 {
                text-align: center;
                width: 100%;
            }
        }

        ol {
            list-style: none;
            padding: 0;
        }
        li,
        p {
            text-align: left;
        }
    }


}

/*THANK YOU
************************************************/
.thank-you{
    padding: 15rem 0;
    text-align: center;

    & > .container {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;

        .btn {
            margin-top: 2rem;
        }
    }

    h1 {
        color: $color-blue-main;
    }


}


