/*titulo_animado***********************/


.hero{
    padding-top: 83px;
    padding-bottom:2rem;

    @include media-breakpoint-up(lg) {
        padding-top: 0;
        padding-bottom:2rem;
        
    }



    .titulo_animado{
        height: 200px;
        // padding: 1rem;
        display: flex;
        flex-flow: row nowrap;
        color: white;
        background-color: $color-blue-main;
        align-items: center;
        position: relative;
        overflow: hidden;

        @include media-breakpoint-up(sm) {
            height: 300px;
            

        }
        @include media-breakpoint-up(md) {
            height: 400px;
            
        }

        .container{
            

        
            h1{
                font-size: 1.8rem;
                
                


                @include media-breakpoint-up(sm) {
                    font-size: 2.7rem;
                    
                }
                @include media-breakpoint-up(md) {
                    font-size: 3.4rem;
                }
                @include media-breakpoint-up(lg) {
                    font-size: 4rem;  
                        
                                        
                }
                    
                    
            

                :nth-child(2){
                    font-size: 3.3rem;
                    color:  $color-sales-2;

                    @include media-breakpoint-up(sm) {
                    font-size: 4.7rem;
                    
                    }
                    @include media-breakpoint-up(md) {
                    font-size: 5.4rem;  
                    }
                    
                    @include media-breakpoint-up(lg) {
                        font-size: 6.4rem;  
                            
                                            
                    }
                }

                :nth-child(n+3){
                    font-size: 1.1rem;

                    @include media-breakpoint-up(sm) {
                    font-size: 2.1rem;
                    
                    }
                    @include media-breakpoint-up(md) {
                    font-size: 2.6rem;  
                        
                    }
                    @include media-breakpoint-up(lg) {
                        font-size: 3rem;  
                            
                    }
                }

                div{
                    margin: 2px 0px;
                    opacity: 0;

                    :nth-child(1){
                        color: $color-sales-2;
                        
                    }

                }
            
            
                div:first-child {
                    
                    animation: fadeInOut 10s 0.4s forwards  infinite;
                }
                div:nth-child(2) {
                    animation: fadeInOut 10s 0.5s forwards  infinite;

                }
                div:nth-child(3) {
                    animation: fadeInOut 10s 0.6s  forwards infinite;

                }
                div:nth-child(4) {
                    animation: fadeInOut 10s 0.7s forwards  infinite;

                }
                div:nth-child(5) {
                    animation: fadeInOut 10s 0.8s forwards  infinite;

                }

            }   

            h2{
                font-size: 1.8rem;
                position: absolute;
                top: 35%;
                
                @include media-breakpoint-up(sm) {
                    font-size: 2.7rem;
                    
                }
                @include media-breakpoint-up(md) {
                    font-size: 3.4rem;
                }
                @include media-breakpoint-up(lg) {
                    font-size: 4rem;  
                    
                }
                
                :nth-child(n+2){
                    font-size: 1.1rem;
                    
                    @include media-breakpoint-up(sm) {
                        font-size: 2.1rem;
                        
                    }
                    @include media-breakpoint-up(md) {
                        font-size: 2.6rem;  
                        
                    }
                    @include media-breakpoint-up(lg) {
                        font-size: 3rem;  
                        
                    }
                }
                
                div{
                    margin: 2px 0px;
                    opacity: 0;
                    
                    :nth-child(1){
                        color: $color-sales-2;
                        
                    }

                }

                div:first-child {
                    
                    animation: fadeInOut2 10s 5.7s  forwards infinite;
                }
                div:nth-child(2) {
                    animation: fadeInOut2 10s 5.8s forwards  infinite;

                }
                div:nth-child(3) {
                    animation: fadeInOut2 10s 5.9s forwards  infinite;
                }
            

            }
            
            a{
                display: none;
            }
        
        }
    }

        
        #img1{
        opacity: 0;
        width: 50%;
        position: absolute;
        bottom: -30%;
        right: -7%;

        animation: fadeInUp 10s 1s forwards  infinite;

            @include media-breakpoint-up(sm) {
                width: 60%;
                right:-6%;
                bottom: -27%;

            }
            @include media-breakpoint-up(md) {
                width: 50%;
                right:-7%;
                bottom: -25%;
                
            }
            @include media-breakpoint-up(lg) {
                max-width: 43%;
                right:-4%;
                bottom: -30%;
                
            }
        }

        #img2{
        opacity: 0;
        width: 50%;
        position: absolute;
        right: -30%;

        animation: fadeInLeft 10s 6.3s forwards  infinite;


            @include media-breakpoint-up(sm) {
                width: 60%;
                right:-20%;
                

            }
            @include media-breakpoint-up(md) {
                width: 50%;
                right:-15%;
                
                
            }
            @include media-breakpoint-up(lg) {
                max-width: 43%;
                right:-10%;
                
                
            }

        }
            
}

    
       
    @keyframes fadeInOut {
        0% {
            opacity: 0;
            }
        5% {
            opacity: 1;
            }
        50% {
            opacity: 1;
            }
        51% {
            opacity: 0;

            }
        100%{
            opacity: 0;
        }    
       }    

    @keyframes fadeInOut2 {
        0% {
            opacity: 0;
            }
        5% {
            opacity: 1;
            }
        45% {
            opacity: 1;
            }
        47% {
            opacity: 0;
            }
        100%{
            opacity: 0;
        }    
       }    

       @keyframes fadeInUp {
            0% {
                opacity: 0;
                }
            4% {
                opacity: 1;
                transform: translateY(-50px);
                }
            45%{ opacity: 1;
                transform: translateY(-50px);

                }
            47% {
                opacity: 0;
                }
           
            100%{
                
                
            }
        }   
      
       @keyframes fadeInLeft {
        0% {
            opacity: 0;
              }
        5% {
            
            opacity: 1;
            transform: translateX(-70px);
        }
        40%{
            opacity: 1;
        }
        42%{
            opacity: 0;
        }
        
                  
        100%{
           
            transform: translateX(-70px);
           
        }    
    }    


/*PROGRAMA REFERIDOS***********************************/
.programa_referidos{

     
    h2{
        text-align: center;
        padding: 3rem 0rem;
    }

    .tarjetas{
        display: grid;
        grid-template-columns: 1fr;
        justify-content: center;
        align-items: center;

        @include media-breakpoint-up(sm) {
            grid-template-columns: 1fr 1fr 1fr;
            column-gap: 5rem;
            align-items: baseline;
        }

        
        .tarjetas_info{
            text-align: center;

            h3{
                color: black;
                font-size: 2rem;
                font-weight: bold;
                margin: 2rem 0rem;
            }

            p{

                a{
                    text-decoration: none;
                    color:$color-sales-2;
                }

                span{
                    background-color: $color-sales-2;
                }
            }



            img{
                width: 60%;
                border-radius: 50%;
            }
        }
    }

}

/*FAQ Accordion*************************************/

.faq{
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    column-gap: 10rem;
    row-gap: 3rem;

    .faq_accordion{
        width: 90%;

        @include media-breakpoint-up(lg) {
            width: 70%;  
        }

        @include media-breakpoint-up(xl) {
            width: 40%;  
        }

        .accordion-button {

            font-size: 1.4rem;
            font-weight: 400;
            background-color: rgb(248, 248, 248);

            @include media-breakpoint-up(sm) {
                font-size: 1.6rem;  
            }
        }

        .accordion-body{
            font-size: 1.2rem;
            background-color: rgb(251, 251, 251);

            @include media-breakpoint-up(sm) {
                font-size: 1.3rem;  
            }
        }

       
    }


    .faq_imagen{
       

        img{
           text-align: center;
           width: 90%;

           @include media-breakpoint-up(xl) {
            width: 100%;  
        }

            
            
        }
    }

}


/*CONTACT FORM
****************************************/
.formulario {
    text-align: center;
    background-color:$color-gray-light;
    background-image: url(../../images/form_section_bg.png);
    background-repeat: no-repeat;
    background-position: 10%;
    background-size: cover;
    color: black;

    .tituloFormulario{
        margin: 3rem 0 4rem;
        
        p{
            font-size: 1.6rem;
            @include media-breakpoint-up(md) {
                font-size: 2.1rem;  
            }
        }
        
    }

    h3{
        margin: 2.5rem 0rem;
        font-weight: bold;
    }

    form{
        
        .datos{
            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: center;
            width: 100%;

            .form-group {
                width: 85%;
                margin-bottom: 2.5rem;

                @include media-breakpoint-up(md) {
                    width: 55%;  
                }
        
                .form-control{
                    // border-radius: 25px;
                    padding: 0.85rem 1rem;
                    font-size: 1.6rem;
                    text-align: left;
                    
                }
        
                textarea {
                    height: 178px;
                           }
            
            }

        }



        

    }

    .error-msg {
        color: #f00000;
        font-size: 14px;
        padding-top: 5px;
        display: none;
        &.visible {
            display: block;
        }
    }


}

/*THANK YOU
************************************************/
.thank-you{
    padding: 15rem 0;
    text-align: center;

    & > .container {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;

        .btn {
            margin-top: 2rem;
        }
    }

    h1 {
        color: $color-blue-main;
    }


}


